.timeline-card {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
    border-color: #03a062;

    z-index: 100;
   
}

.timeline-card:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;

    z-index: 100;
}

.timeline-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: left;
}

.timeline-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-card:nth-child(odd) .timeline-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-card:nth-child(odd) .timeline-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-content .circle {
    background-color: #fff;
    border: 3px solid green;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-card:nth-child(odd) .timeline-content .circle {
    right: auto;
    left: -40px;
}

@keyframes slideCardLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideCardRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@media (prefers-reduced-motion: no-preference) {
   .timeline-card.card-animation {
        animation: slideCardLeft 2.5s 1;
    }

    .timeline-card:nth-child(odd).card-animation {
        transition: slideCardRight 2.5s 1;
    }
}

/* .card-transition {
    opacity: 1;
    transform: translateX(0px);
} */

