* {
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
}

.title {
    width: 10%;
    background-color: #124d17;
    font-weight: bolder;
    font-size: small;
    color: white;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -8px;
    padding-top: 6px;
    padding-bottom: 14px;
    margin-right: -5px;
    text-align: center;
}

.skills {
    text-align: right;
    background-color: #26d435;
    padding-top: 10px;
    display: inline-block;
    font-weight: bolder;
    border-radius: 5px;
    animation-iteration-count: 1 !important;
    /* transition: 'width 1s ease-in-out'; */
    padding-bottom: 5px;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: attr(w)%;
    }
}

.percentage {
    color: white;
    position: relative;
    top: -5px;
    right: 5px;
}

@media (prefers-reduced-motion: no-preference) {
    .skill-animation {
        animation-duration: 2.5s;
        animation-name: fillBar;
        animation-iteration-count: 1;
    }
}